.todo-input input {
  border: none;
  border-bottom: 2px solid lightgrey;
  margin: 5px;
  padding: 5px 7px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  outline: none;
}
.todo-input input:focus {
  border-bottom: 2px solid green;
}
.todo-input button {
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
  min-width: 100px;
  border: none;
  outline: none;
}