.split-view {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.split-view-inner {
  display: flex;
  flex-direction: column;
  /*width: 80%;*/
  flex-grow: 2;
  background-color: #2B2B2B;
}
.split-view-padding {
  flex-grow: 1;
}
.split-view-head {
  height: 50px;
}
.split-view-menu-list {
  flex-grow: 1;
}
.split-view-foot {
  display: flex;
  height: 50px;
  margin-bottom: 5px;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid rgba(119, 119, 119, 0.36);
}
.split-view-foot .user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 15px;
}
.split-view-foot .user-avatar-wrap {
  margin-right: 13px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.split-view-foot img {
  position: absolute;
  top: 0;
  left: 0;
}
.split-view-foot .settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.split-view-item {
  display: flex;
  height: 50px;
  align-items: center;
  /*padding-left: 15px;*/
  justify-content: space-between;
  align-items: stretch;
}
.split-view-item:hover {
  background-color: #404040;
}
.split-view-item-icon {
  margin-right: 10px;
  height: 20px;
}
.split-view-item a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 10px;
}